@font-face {
    font-display: swap;
    font-family: "SEGA LOGO FONT";
    src: url("../fonts/SEGA.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "SEGA LOGO FONT";
    font-size: 48px;
    color: #0ccac4;
}